<div>

<h2>Añadir nueva celebridad</h2>
<br>



<div class="celebrity-form">

<form action="/celebrities/create" method="post">

<label for="name">Nombre:</label>
<input type="text" name="name">
<br>
<br>
<label for="occupation">Trabajo:</label>
<input type="text" name="occupation">
<br>
<br>
<label for="catchPhrase">Eslogan:</label>
<input type="text" name="catchPhrase">
<br>
<br>
<button>Añadir celebridad</button>


</form>


</div>



</div>