<h1>Celebrities/movies lab</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">Añadir nueva celebridad</a>
<br>
<a href="/celebrities/celebrities">Lista de celebrities</a>
<br>
<a href="/movies/create">Añadir nueva película</a>