<h1>Celebrities/movies lab</h1>
<p>Welcome to {{title}}</p>


<a href="/celebrities/celebrities">Lista de celebrities</a>
<br><br>
<a href="/celebrities/create">Añadir nueva celebridad</a>
<br><br>
<a href="/movies/movies">Lista de películas</a>
<br><br>
<a href="/movies/create">Añadir nueva película</a>


